<div class="app-content">
  <mat-card>
    <mat-list class="about-list">
      <mat-list-item>
        <h3 mat-line>Version 1.3.0</h3>
        <p mat-line>erstellt am 03.08.2022</p>
      </mat-list-item>
      <mat-list-item>
        <h3 mat-line>Mehr Informationen zur Wetterwolke</h3>
        <a mat-line href="http://www.voegtle.org/~christian/ww/">www.voegtle.org/~christian/ww/</a>
      </mat-list-item>
      <mat-list-item>
        <h3 mat-line>Erstellt von Christian Vögtle</h3>
        <a mat-line href="mailto:christian@voegtle.org">christian@voegtle.org</a>
        <a mat-line href="tel:+4917664673529">+49 176 64673529</a>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
