<div class="app-content">
  <md-card>
    <md-list class="about-list">
      <md-list-item>
        <h3 md-line>Version 0.9.8</h3>
        <p md-line>erstellt am 13.04.2017</p>
      </md-list-item>
      <md-list-item>
        <h3 md-line>Mehr Informationen zur Wetterwolke</h3>
        <a md-line href="http://www.voegtle.org/~christian/ww/">www.voegtle.org/~christian/ww/</a>
      </md-list-item>
      <md-list-item>
        <h3 md-line>Erstellt von Christian Vögtle</h3>
        <a md-line href="mailto:christian@voegtle.org">christian@voegtle.org</a>
      </md-list-item>
    </md-list>
  </md-card>
</div>
