<div class="app-content">
  <mat-card>
    <mat-list class="about-list">
      <mat-list-item>
        <h3 mat-line>Version 1.0.0-rc2</h3>
        <p mat-line>erstellt am 25.04.2017</p>
      </mat-list-item>
      <mat-list-item>
        <h3 mat-line>Mehr Informationen zur Wetterwolke</h3>
        <a mat-line href="http://www.voegtle.org/~christian/ww/">www.voegtle.org/~christian/ww/</a>
      </mat-list-item>
      <mat-list-item>
        <h3 mat-line>Erstellt von Christian Vögtle</h3>
        <a mat-line href="mailto:christian@voegtle.org">christian@voegtle.org</a>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
