<div class="weather-data-view">
  <mat-card >
    <div [attr.class]="isLate() ?'title late':'title'">
      <span class="title-text">{{weatherData.location}} - {{weatherData.localtime}}</span>

      <button class="icon-button" (click)="toggle()" [attr.title]="expanded?'weniger anzeigen':'mehr anzeigen'">
        <mat-icon *ngIf="!expanded">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="expanded">keyboard_arrow_up</mat-icon>
      </button>

      <button title="Diagramme" class="icon-button" (click)="gotoDiagram()">
        <mat-icon>panorama</mat-icon>
      </button>

      <button title="Wetter Vorhersage" class="icon-button" *ngIf="weatherData.locationObj.weatherForecast" (click)="showForecast()">
        <mat-icon>filter_drama</mat-icon>
      </button>
    </div>
    <div class="value">Temperatur: {{weatherData.temperature | num}} °C<span *ngIf="weatherData.inside_temperature"> / {{weatherData.inside_temperature | num}} °C</span></div>
    <div class="value">Luftfeuchtigkeit: {{weatherData.humidity | num}} %<span *ngIf="weatherData.inside_humidity"> / {{weatherData.inside_humidity | num}} %</span></div>
    <div class="value" *ngIf="weatherData.barometer">Luftdruck: {{weatherData.barometer | num:0}} hPa</div>
    <div class="value" *ngIf="weatherData.solarradiation">Sonneneinstrahlung: {{weatherData.solarradiation | num:0}} W/m²</div>
    <div class="value" *ngIf="weatherData.UV">UV Index: {{weatherData.UV | num:0}}</div>
    <div class="value" *ngIf="weatherData.rain_today">
      Regen: {{weatherData.rain_today | num}} l
      <span *ngIf="weatherData.rain"> / {{weatherData.rain | num}} l</span>
    </div>
    <div class="value" *ngIf="weatherData.wind">
      Wind: {{weatherData.wind | num }} km/h
    </div>
    <div class="value" *ngIf="weatherData.watt">
      Solarleistung: {{weatherData.watt | num }} W
    </div>
    <app-weather-stats *ngIf="expanded" [locationId]="weatherData.id"></app-weather-stats>
  </mat-card>
</div>
