.title {
    background-color: rgba(190, 190, 190, 0.26);
    padding: 3px 8px 3px 8px;
    margin-bottom: 6px;
}

.title-text {
    font-weight: bold;
    font-size: large;
}

.value {
    padding: 2px 8px 2px 8px;
}

.weather-data-view {
    padding: 3px;
}

.late {
    color: darkred;
}

.icon-button {
    box-shadow: none;
    user-select: none;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: normal;
    margin: 0 8px 0 0;
    min-width: 0;
    padding: 0 3px;
    float: right;
}

