<div class="weather-data-view">
  <md-card [attr.class]="isLate() ?'late':''">
    <div class="title">
      <span class="title-text">{{weatherData.location}} - {{weatherData.localtime}}</span>

      <button class="icon-button" (click)="toggle()" [attr.title]="expanded?'weniger anzeigen':'mehr anzeigen'">
        <i  class="material-icons" *ngIf="!expanded">keyboard_arrow_down</i>
        <i class="material-icons" *ngIf="expanded">keyboard_arrow_up</i>
      </button>

      <button title="Wetter Vorhersage" class="icon-button" *ngIf="weatherData.locationObj.weatherForecast" (click)="showForecast()">
        <i class="material-icons">filter_drama</i>
      </button>
    </div>
    <div class="value">Temperatur: {{weatherData.temperature | num}} °C</div>
    <div class="value">Luftfeuchtigkeit: {{weatherData.humidity | num}} %</div>
    <div class="value" *ngIf="weatherData.rain_today">
      Regen: {{weatherData.rain_today | num}} l
      <span *ngIf="weatherData.rain"> / {{weatherData.rain | num}} l</span>
    </div>
    <div class="value" *ngIf="weatherData.wind">
      Wind: {{weatherData.wind | num }} km/h
    </div>
    <div class="value" *ngIf="weatherData.watt">
      Solarleistung: {{weatherData.watt | num }} W
    </div>
    <app-weather-stats *ngIf="expanded" [locationId]="weatherData.id"></app-weather-stats>
    <app-diagram-viewer *ngIf="expanded && weatherData.locationObj.hasOwnProperty('diagrams')"
                        [diagrams]="weatherData.locationObj.diagrams"></app-diagram-viewer>
  </md-card>
</div>
