.container {
    padding: 2px;
    border-bottom: rgba(65, 86, 91, 0.26) solid 1px;
}

.caption {
    font-weight: bold;
    background-color: rgba(190, 190, 190, 0.26);
    padding: 3px;
}

.value {
    padding: 1px;
}