<div class="row" *ngIf="stat.range !== 'lastHour'">
    <div class="column_narrow caption">{{translate(stat.range)}}</div>
    <div class="column_narrow">&nbsp;<span *ngIf="stat.rain">{{stat.rain | num}} l</span></div>
    <div class="column">&nbsp;<span *ngIf="stat.minTemperature">{{stat.minTemperature | num}} °C</span></div>
    <div class="column">&nbsp;<span *ngIf="stat.minTemperature">{{stat.maxTemperature | num}} °C</span></div>
    <div class="column_wide" *ngIf="stat.kwh">{{stat.kwh | num}} kwh</div>
</div>
