.weather_stats {
    margin-top: 10px;
}

.row {
    width: 100%;
    overflow: hidden;
}

.caption {
    font-weight: bold;
}

.column {
    width: 70px;
    text-align: right;
    float: left;
}

.column_narrow {
    width: 60px;
    text-align: right;
    float: left;
}

.column_wide {
    width: 80px;
    text-align: right;
    float: left;
}

