<mat-toolbar color="primary">
  <button class="app-icon-button" (click)="sidenav.toggle()">
    <mat-icon class="app-toolbar-menu">menu</mat-icon>
  </button>

  {{title}}

  <span class="app-toolbar-filler"></span>

  {{updateTime | dateHHmm}}

</mat-toolbar>
<mat-sidenav-container class="working-container">

  <mat-sidenav #sidenav mode="top" class="app-sidenav">
    <mat-list>
      <mat-list-item >
        <a routerLink="/" (click)="sidenav.close()">
          <span><mat-icon>settings_system_daydream</mat-icon></span> <span class="menu-item">Wetter</span></a>
      </mat-list-item>
      <mat-list-item >
        <a routerLink="/diagrams" (click)="sidenav.close()">
          <mat-icon>collections</mat-icon> <span class="menu-item">Diagramme</span></a>
      </mat-list-item>
      <mat-list-item >
        <a routerLink="/settings" (click)="sidenav.close()">
          <mat-icon>settings</mat-icon> <span class="menu-item">Einstellungen</span></a>
      </mat-list-item>
      <mat-list-item >
        <a routerLink="/about" (click)="sidenav.close()">
          <mat-icon>feedback</mat-icon> <span class="menu-item">Über Wetterwolke</span></a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>
