<md-toolbar color="primary">
  <button class="app-icon-button" (click)="sidenav.toggle()">
    <md-icon class="app-toolbar-menu">menu</md-icon>
  </button>

  {{title}}

  <span class="app-toolbar-filler"></span>

  {{updateTime | dateHHmm}}

</md-toolbar>
<md-sidenav-container class="working-container">

  <md-sidenav #sidenav mode="top" class="app-sidenav">
    <md-list>
      <md-list-item class="menu_line">
        <a routerLink="/" (click)="sidenav.close()">
          <span><md-icon>settings_system_daydream</md-icon></span> <span class="menu-item">Wetter</span></a>
      </md-list-item>
      <md-list-item class="menu_line" >
        <a routerLink="/diagrams" (click)="sidenav.close()">
          <md-icon>collections</md-icon> <span class="menu-item">Diagramme</span></a>
      </md-list-item>
      <md-list-item class="menu_line">
        <a routerLink="/settings" (click)="sidenav.close()">
          <md-icon>settings</md-icon> <span class="menu-item">Einstellungen</span></a>
      </md-list-item>
      <md-list-item class="menu_line">
        <a routerLink="/about" (click)="sidenav.close()">
          <md-icon>feedback</md-icon> <span class="menu-item">Über Wetterwolke</span></a>
      </md-list-item>
    </md-list>
  </md-sidenav>
  <router-outlet></router-outlet>
</md-sidenav-container>
