.working-container {
    position: absolute;
    top: 62px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

@media (max-width: 600px) {
    .working-container {
        top: 56px;
    }
}

.app-toolbar-filler {
    flex: 1 1 auto;
}

.app-toolbar-menu {
    padding: 0 14px 0 14px;
    color: white;
}

.app-sidenav {
    min-width: 120px;
}

.app-menu-item {
    display: inline;
}

.app-icon-button {
    box-shadow: none;
    user-select: none;
    background: none;
    border: none;
    cursor: pointer;
    filter: none;
    font-weight: normal;
    height: auto;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
}

.menu_line {
    display: inherit;
    padding: 0;
    color: white;
}

.menu-item {
    margin-left: 10px;
}

md-list a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: flex;
    align-items: center;
    border-radius: 4px;
}

md-list a:visited, a:link {
    color: whitesmoke;
}

md-list a:hover {
    color: whitesmoke;
    background-color: #555;
}

md-list a.active {
    color: whitesmoke;
}
