<md-sidenav-layout>

  <md-sidenav #sidenav mode="side" class="app-sidenav">
    <md-list>
      <md-list-item><i class="material-icons">settings_system_daydream</i> <span class="menu-item">Wetter</span> </md-list-item>
      <md-list-item><i class="material-icons">settings</i> <span class="menu-item">Einstellungen</span> </md-list-item>
    </md-list>  </md-sidenav>

  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>

    {{title}}

    <span class="app-toolbar-filler"></span>

    {{updateTime | dateHHmm}}

  </md-toolbar>
  <app-weather (updateEvent)="weatherUpdated($event)"></app-weather>
</md-sidenav-layout>