/*@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';*/
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';
/* @import '~@angular/material/core/theming/prebuilt/pink-bluegrey.css'; */
/* @import '~@angular/material/core/theming/prebuilt/purple-green.css'; */

.app-content {
    padding: 10px;
    min-height: 230px;
}

.app-card {
    margin-top: 10px;
}

.app-container {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

