<div class="app-content">
  <md-card>
    <md-card-title>Stationen einblenden</md-card-title>
    <md-list>
      <app-location-view *ngFor="let location of locations" [location]="location" (changed)="onLocationChanged($event)"></app-location-view>
    </md-list>
  </md-card>
  <md-card class="app-card">
    <md-card-title>Code-Wort</md-card-title>
    <md-input-container>
      <input mdInput #secret placeholder="Geheimnis" [(ngModel)]="codeword" (change)="onCodewordChanged($event)"/>
    </md-input-container>
  </md-card>
</div>
